<div class="container">
  <header>
    List of functionalities implemented:
  </header>
  <table>
    <tbody>
      <tr>
        1. &nbsp; Simple routing.
      </tr>
      <tr>
        2. &nbsp; Tooltip demo tab - contains 2 buttons, on click of each a tooltip would appear above the button.
      </tr>
      <tr>
        &nbsp; &nbsp; &nbsp; 2.a. &nbsp; Only 1 tooltip is visible at a given point.
      </tr>
      <tr>
        &nbsp; &nbsp; &nbsp; 2.b. &nbsp; Either tooltip closes when clicked outside, but remains open when clicked
        inside.
      </tr>
      <tr>
        &nbsp; &nbsp; &nbsp; 2.c. &nbsp; Either tooltip closes when ESC key is pressed.
      </tr>
      <tr>
        &nbsp; &nbsp; &nbsp; 2.d. &nbsp; Tooltip appears on the bottom of the button when detected being at the edge of
        the viewport.
      </tr>
      <tr>
        3. &nbsp; Styling done using SASS.
      </tr>
      <tr>
        4. &nbsp; Added an accessiblity feature for Image/ Xello Logo.
      </tr>
      <tr>
        5. &nbsp; App is responsive.
      </tr>
    </tbody>
  </table>
</div>