
// variables for the entire application
$font-color: #86C232;
$background-color : #222629;
$font-family : "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$font-size: 13px;
$border-radius: 10px;


// App component variables
$nav-active-bg-color : #61892F;
$nav-font-color : #000000;